<ion-content slot="fixed">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col text-center>
        <img src="assets/success.svg" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col text-center>
        <span style="font-size: 1.4em">Wow!</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col text-center>
        <span>Cadastro realizado com sucesso.</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" text-center>
        <span class="text">Estamos felizes com a sua chegada, agora selecione o barbeiro de sua escolha e opte pelos melhores serviços que você encontra apenas disponíveis aqui no app.</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col text-center>
        <ion-button (click)="goToHome()" shape="round">Entrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
