<ion-content slot="fixed">
  <ion-card id="card">
    <div id="miniMapContent">
      <div id="enderecoContainer">
        <ion-grid id="endereco">
          <ion-row class="ion-justify-content-center">
            <ion-col text-center class="ion-align-self-center" size="10">
              <img src="assets/warning.svg" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <img src="assets/mini_map.svg">
    </div>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" text-center>
            <span class="colored">O Seu barbeiro não pode lhe atender.</span>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-centerfd">
          <ion-col size="11" text-center>
            <span>Mas fique tranquilo, tente novamente mais tarde.</span>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col text-center>
            <ion-button shape="round" (click)="closeModal()">Fechar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>