<ion-header>
  <div id="headerLabel">
    <div id="yellowPoint"></div>
    <span>Rua Recife - Urias Magalhães</span>
  </div>
</ion-header>
<ion-content>
  <div id="content">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="7" offset="3">
          <span>Agendar Atendimento</span>
        </ion-col>
        <ion-col size="2" text-end (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="4" class="line"></ion-col>
      </ion-row>
      <ion-row id="slidesDay">
        <ion-slides [options]="slidesConfig">
          <ion-slide *ngFor="let day of moth; let i = index">
            <div class="itemDay">
              <div *ngIf="i === 0" id="currentDay">Hoje</div>
              <div class="dia-mes">{{ day.day }} {{ currentMoth }}</div>
              <div>{{ day.nameDay }}</div>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="4" text-center>
          <span>Horário</span>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="4" class="line"></ion-col>
      </ion-row>
      <ion-row id="slideHorarios">
        <ion-slides [options]="slidesConfig">
          <ion-slide *ngFor="let hora of horarios">
            <div>{{ hora }}</div>
          </ion-slide>
        </ion-slides>
      </ion-row>
      <ion-row class="ion-justify-content-center" style="margin-top: 20px">
        <ion-col size="4" text-center>
          <span>Serviços</span>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col id="colServicos" size="10">
          <ion-grid id="servicos">
            <ion-row class="ion-justify-content-center">
              <ion-col size="4" text-center>
                <span>Barba</span>
                <ion-icon src="./../../../../assets/beard.svg"></ion-icon>
                <span>R$ 20</span>
              </ion-col>
              <ion-col size="4" text-center>
                <span>Cabelo</span>
                <ion-icon src="./../../../../assets/hair.svg"></ion-icon>
                <span>R$ 30</span>
              </ion-col>
              <ion-col size="4" text-center>
                <span>Bigode</span>
                <ion-icon src="./../../../../assets/mustache.svg"></ion-icon>
                <span>R$ 15</span>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="2" class="line-2"></ion-col>
            </ion-row>
            <ion-row id="servicosBottom" class="ion-justify-content-around">
              <ion-col size="8" class="start">
                <span>Formas de pagamento</span>
                <ion-icon src="./../../../../assets/mini_cartao.svg"></ion-icon>
              </ion-col>
              <ion-col size="4" class="end">
                <span>Total</span>
                <span>R$ 30,00</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col text-center>
          <ion-button shape="round">Confirmar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>