ion-content {
    --ion-background-color: #313131;
    #detalhe-rodape {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 0;
    }

    ion-grid {
        width: 80%;
        max-width: 500px;
        padding: 0 15px;
    }

    .login-content {
        background-color: white;
        border-radius: 25px 25px 0 0;
        display: flex;
        flex-direction: column;
        padding: 0 25px;
        input {
            width: 100%;
        }
    }

    #logo {
        margin: 0 auto;
        align-self: center;
        img {
            width: 100%;
            max-width: 300px;
            min-height: 100px;
            height: auto;
        }
    }

    .signin-col {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: flex-end;
        margin-top: -5px;

        background: url(./../../../assets/box_footer.svg) top center;
        background-size: 100%;
        background-repeat: no-repeat;
        max-width: 500px;
        height: 185px;
        @media (max-width: 760px) {
            height: 27vw;
        }
    }
}
