<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col text-center>
        <img src="assets/fail.svg" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col text-center>
        <span>Ops!</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col text-center>
        <span>Pagamento não autorizado!</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col text-center class="ion-align-self-center">
        <span id="cifrao">R$ </span><span id="valor">{{ valor }}</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col text-center>
        <span>Barber Home</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col text-center>
        <span>{{ diaAtual }} de {{ nomeMesAtual }} de {{ anoAtual }}</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col text-center>
        <ion-button shape="round" (click)="goHome()">Voltar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>