<ion-header mode="ios">
  <ion-grid>
    <ion-row class="ion-justify-conten-start">
      <ion-col>
        <ion-icon name="menu" color="primary" (click)="openMenu()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content id="content" (click)="clickEvent($event)">
  <div #map id="map"></div>
</ion-content>

<ion-footer>
  <div id="searchBar">
    <div id="centerPosition" (click)="setMyPosition()">
      <div id="background">
        <ion-icon name="locate"></ion-icon>
      </div>
    </div>
    <ion-grid>
      <ion-row id="myPos">
        <ion-col size="2" align="center">
          <ion-icon name="pin"></ion-icon>
        </ion-col>
        <ion-col>
          <input type="text" placeholder="{{ userService.user?.endereco }}" readonly />
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="2" align="center">
          <ion-icon name="pin"></ion-icon>
        </ion-col>
        <ion-col>
          <input type="text" placeholder="Localize o seu barbeiro..." />
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div align="center">
    <ion-button shape="round">Localizar</ion-button>
  </div>
</ion-footer>