<ion-header mode="ios">
  <ion-grid>
    <ion-row class="ion-justify-conten-start">
      <ion-col>
        <ion-icon name="menu" color="primary" (click)="openMenu()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content id="content" (click)="clickEvent($event)">
  <div #map id="map"></div>
</ion-content>

<ion-footer>
  <div id="searchBar">
    <div id="centerPosition" (click)="flyToPosition()">
      <div id="background">
        <ion-icon name="locate"></ion-icon>
      </div>
    </div>
    <ion-grid>
      <ion-row id="myPos" class="endereco">
        <ion-col size="1" class="ion-align-self-center">
          <ion-icon name="pin"></ion-icon>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <input type="text" placeholder="{{ userService.user?.endereco }}" readonly />
        </ion-col>
      </ion-row>

      <ion-row class="endereco">
        <ion-col size="1" class="ion-align-self-center">
          <ion-icon name="pin"></ion-icon>
        </ion-col>
        <ion-col>
          <input #searchInput type="text" placeholder="Localize o seu barbeiro..." />
        </ion-col>
      </ion-row>
      <ion-row id="usersList" *ngIf="profissionaisOfSearch && profissionaisOfSearch.length > 0">
        <ion-col>
          <ion-list>
            <ion-item *ngFor="let profissional of profissionaisOfSearch" (click)="setFocusOnProfissional(profissional.latitude, profissional.longitude)">
              <ion-label>{{ profissional.nome }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div align="center">
    <ion-button shape="round">Localizar</ion-button>
  </div>
</ion-footer>