<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login/home"></ion-back-button>
    </ion-buttons>
    <ion-title>agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid id="calendario">
    <ion-row>
      <ion-col>
        <div id="mes">Julho <ion-icon name="ios-arrow-down"></ion-icon></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>2019</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="diaSemana">DOM</ion-col>
      <ion-col class="diaSemana">SEG</ion-col>
      <ion-col class="diaSemana">TER</ion-col>
      <ion-col class="diaSemana">QUA</ion-col>
      <ion-col class="diaSemana">QUI</ion-col>
      <ion-col class="diaSemana">SEX</ion-col>
      <ion-col class="diaSemana">SAB</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col id="whiteLine">
        <div></div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of agenda">
      <ion-col>
        <item-agenda [local]="item.local" [horario]="item.horario" [servico]="item.servico" [valor]="item.valor" [nome]="item.nome"></item-agenda>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
