<ion-content>
  <ion-card>
    <img src="./../../../assets/mini_map.svg">
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" text-center>
            <span class="colored">Seu barbeiro agendou seu horário.</span>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="11" text-center>
            <span>Fique a vontade em falar com seu barbeiro, caso tenha imprevisto poderá falar com ele via chat.</span>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col text-center>
            <ion-button shape="round">Visualizar sua agenda</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col text-center>
        <span>Seu pagamento foi aprovado!</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col text-center class="ion-align-self-center">
        <span id="cifrao">R$ </span><span id="valor">30,00</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col text-center>
        <span>Barber Home</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col text-center>
        <span>11 de setembro de 2019</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="2">
        <ion-fab-button id="checkBtn">
          <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
