<ion-content>
  <ion-slides pager>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="./../../../assets/slide_1.svg" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-title>BARBER HOME</ion-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Aqui voce faz o agendamento do seu corte de cabelo, barba e bigode sem sair de casa.</p>
          </ion-col>
        </ion-row>
        <ion-row>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="./../../../assets/slide_2.svg" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-title>BARBER MAN</ion-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>O Barbeiro em sua casa, conforme agendamento de sua escolha</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="./../../../assets/slide_3.svg" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-title>COMODIDADES</ion-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <p>O App Barber Home tem seu funcionamento online, de fácil usabilidade e na palma da sua mão</p>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar align="center">
    <ion-button fill="outline" (click)="nextSlide()">{{ nameButton }}</ion-button>
  </ion-toolbar>
</ion-footer>