<ion-content>
  <ion-slides pager>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="./../../../assets/slide_1.svg" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-title>O app Barber Home</ion-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Você agenda o seu corte de cabelo, barba e bigode sem sair de casa!</p>
          </ion-col>
        </ion-row>
        <ion-row>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="./../../../assets/slide_2.svg" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-title>Para sua comodidade</ion-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>O nosso Barber Man irá lhe atender na sua casa conforme seu agendamento</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="./../../../assets/slide_3.svg" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-title>Relaxe, Renove, Revitalize</ion-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <p>App Barber Home, é um sistema de agendamento online, mas o melhor</p>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar align="center">
    <ion-button fill="outline" (click)="nextSlide()">{{ nameButton }}</ion-button>
  </ion-toolbar>
</ion-footer>